.landing-audits {
   &__container-m {
   }

   &__title {
      color: var(--black);
      margin-bottom: 20px;
   }

   &__content {
      display: flex;
      gap: 30px;
      @media (max-width: 767.98px) {
         display: block;
         max-width: 400px;
         margin: auto;
      }
   }

   &__link {
      flex: 0 0 calc(33.333% - 20px);
      background: #ffffff;
      box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.04), 0px 8px 16px rgba(0, 0, 0, 0.08);
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px 20px;
      transition: all 0.3s ease 0s;
      &:active {
         transition: all 0.3s ease 0s;
         transform: scale(0.95);
      }
      @media (max-width: 767.98px) {
         height: 80px;
         &:not(:last-child) {
            margin-bottom: 10px;
         }
      }
      img {
         max-width: 100%;
         object-fit: contain;
      }
   }
}
