.social-links {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 14px;
   &__item {
      background: linear-gradient(218.26deg, #feb1f9 0%, #1783b0 82.08%, #2e0a85 143.08%);
      width: 45px;
      height: 45px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      flex: none;
      @media (any-hover: hover) {
         &:hover {
            animation: earth 1s infinite linear;
            img {
               animation: earthOut 1s infinite linear;
            }
         }
      }
      &:active {
         opacity: 0.5;
         transition: all 0.1s ease 0s;
      }
      & img {
         max-width: 100%;
         transition: all 0.3s ease 0s;
      }
   }
}
