.cabinet-header {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   z-index: 101;
   &__boxBg {
      @media (min-width: 991.98px) {
         display: none;
      }
   }

   &__content {
      padding: 15px 0px;
      @extend %borderBottom;
      @extend %headerBorderBottom;
   }

   &__body {
      display: grid;
      grid-template-columns: 1fr minmax(200px, 500px) 250px 373px;
      grid-gap: 30px;
      @media (max-width: 1200px) {
         grid-template-columns: 1fr 250px 373px;
      }
      //MobileBurger
      @media (max-width: 991.98px) {
         position: fixed;
         top: 77px;
         height: calc(100% - 77px);
         width: 100%;
         margin: 0px -15px;
         z-index: 101;
         flex-direction: column;
         justify-content: space-between;
         align-items: center;
         padding: 60px 0px;
         gap: 80px;
         overflow-y: auto;
         display: flex;
         transform: scale(0);
         opacity: 0;
         visibility: hidden;
         .menu-open & {
            visibility: visible;
            opacity: 1;
            transform: scale(1);
            transition: all 0.5s ease 0s;
         }
      }
   }

   &__menu {
      @media (max-width: 991.98px) {
         order: 1;
      }
   }
   &__logo-box {
      display: flex;
      justify-content: center;
      @media (max-width: 1200px) {
         display: none;
      }
   }
   &__logo {
      width: 200px;
      & img {
         object-fit: contain;
         max-width: 100%;
      }
   }

   &__social-links {
      @media (max-width: 991.98px) {
         order: 3;
      }
   }

   &__user-info {
      @media (max-width: 991.98px) {
         order: 2;
         & .wallet-balance,
         & .logout-block {
            &::after {
               display: none;
            }
         }
      }
   }

   &__mobile-header {
      position: relative;
      z-index: 10;
      @media (min-width: 991.98px) {
         display: none;
      }
   }
}
.cabinet-menu {
   display: flex;
   align-items: center;
   gap: 10px 50px;
   @media (max-width: 991.98px) {
      flex-direction: column;
      gap: 30px;
   }
   &__item {
      display: flex;
      align-items: center;
      gap: 10px;
      // @extend %navigationHover;
      transition: all 0.3s ease 0s;
      &:active {
         transition: all 0.1s ease 0s;
         transform: scale(0.95);
      }
      & span {
         font-size: 18px;
         line-height: 100%;
         pointer-events: none;
         display: block;
         white-space: nowrap;
      }
      & i {
         pointer-events: none;
         font-size: 20px;
      }

      //ActiveState++++++++++++++++++
      &._active-nav {
         i {
            background-image: linear-gradient(207.09deg, #1783b0 16.92%, #dc67ee 99.75%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
         }
      }
   }
}

.user-info {
   display: flex;
   gap: 20px;
   align-items: center;
   @media (max-width: 991.98px) {
      flex-direction: column;
      width: 100%;
   }
   &__wallet {
   }

   &__logout {
   }

   &__dropdown {
      @media (max-width: 991.98px) {
         display: none;
      }
   }
}
.wallet-balance {
   max-width: 145px;
   min-height: 45px;
   width: 100%;
   padding: 5px 20px;
   @extend %boxBg;
   @media (max-width: 991.98px) {
      .cabinet-header__body & {
         max-width: 290px;
         display: flex;
         align-items: center;
         padding: 11px 20px;
      }
   }
   &__title {
      display: block;
      opacity: 0.8;
      font-size: 14px;
      word-break: break-word;
      @media (max-width: 991.98px) {
         .cabinet-header__body & {
            flex: 0 0 58%;
            padding-right: 30px;
         }
      }
   }
   &__value {
      display: block;
      font-weight: 700;
      word-break: break-word;
      @media (max-width: 991.98px) {
         .cabinet-header__body & {
            flex: 0 0 42%;
         }
      }
   }
}
.logout-block {
   @extend %boxBg;
   max-width: 145px;
   width: 100%;
   padding: 3px 20px;
   height: 45px;
   @media (max-width: 991.98px) {
      .cabinet-header__body & {
         max-width: 290px;
         display: flex;
         align-items: center;
         padding: 11px 20px;
      }
   }
   &__wallet-id {
      overflow: hidden;
      text-overflow: ellipsis;
      font-weight: 700;
      margin-bottom: 3px;
      @media (max-width: 991.98px) {
         margin-bottom: 0;
         .cabinet-header__body & {
            flex: 0 0 58%;
            padding-right: 30px;
         }
      }
   }

   &__exit-btn {
      display: flex;
      align-items: center;
      gap: 5px;
      @media (max-width: 991.98px) {
         .cabinet-header__body & {
            flex: 0 0 42%;
            max-width: fit-content;
         }
      }
      & span,
      & i {
         font-size: 14px;
         color: rgba(255, 255, 255, 0.8);
         transition: all 0.3s ease 0s;
         max-width: fit-content;
      }

      //++++
      &:hover {
         & span,
         & i {
            transition: all 0.3s ease 0s;
            color: red;
         }
      }
   }
}
.user-dropdown {
   &__head {
      @extend %boxBg;
      height: 45px;
      width: 45px;
      display: flex;
      align-items: center;
      justify-content: center;
      & i {
         font-size: 24px;
      }
   }

   &__body {
      display: none;
   }
}
//========================================================================================================================================================
.cabinet-mobile-header {
   @media (max-width: 991.98px) {
      display: flex;
   }
   justify-content: space-between;
   align-items: center;
   gap: 20px;
   &__content {
      display: flex;
      align-items: center;
      gap: 15px;
      flex: auto;
   }

   &__wallet {
      max-width: 170px;
      width: auto;
      min-width: 145px;
   }

   &__dropdown {
   }

   &__burger {
   }
}
