<section class="cabinet__section refer-statistics">
   <div class="refer-statistics__container-l">
      <div class="refer-statistics__content">
         <div class="refer-statistics__block ref-statistic-block">
            <h5 class="ref-statistic-block__title">Active referrals</h5>
            <div class="ref-statistic-block__list">
               <div class="ref-statistic-block__item">
                  <div class="ref-statistic-block__val">45</div>
                  <div class="ref-statistic-block__coin"><i class="_icon-busd"></i></div>
                  <div class="ref-statistic-block__level">1st lvl</div>
               </div>
               <div class="ref-statistic-block__item">
                  <div class="ref-statistic-block__val">45</div>
                  <div class="ref-statistic-block__coin"><i class="_icon-busd"></i></div>
                  <div class="ref-statistic-block__level">2st lvl</div>
               </div>
               <div class="ref-statistic-block__item">
                  <div class="ref-statistic-block__val">45</div>
                  <div class="ref-statistic-block__coin"><i class="_icon-busd"></i></div>
                  <div class="ref-statistic-block__level">3st lvl</div>
               </div>
            </div>
         </div>
         <div class="refer-statistics__block ref-statistic-block">
            <h5 class="ref-statistic-block__title">Raised money</h5>
            <div class="ref-statistic-block__list">
               <div class="ref-statistic-block__item">
                  <div class="ref-statistic-block__val">45</div>
                  <div class="ref-statistic-block__coin"><i class="_icon-busd"></i></div>
                  <div class="ref-statistic-block__level">1st lvl</div>
               </div>
               <div class="ref-statistic-block__item">
                  <div class="ref-statistic-block__val">45</div>
                  <div class="ref-statistic-block__coin"><i class="_icon-busd"></i></div>
                  <div class="ref-statistic-block__level">2st lvl</div>
               </div>
               <div class="ref-statistic-block__item">
                  <div class="ref-statistic-block__val">45</div>
                  <div class="ref-statistic-block__coin"><i class="_icon-busd"></i></div>
                  <div class="ref-statistic-block__level">3st lvl</div>
               </div>
            </div>
         </div>
         <div class="refer-statistics__block ref-statistic-block">
            <h5 class="ref-statistic-block__title">Total referral bonus</h5>
            <div class="ref-statistic-block__list">
               <div class="ref-statistic-block__item">
                  <div class="ref-statistic-block__val">45</div>
                  <div class="ref-statistic-block__coin"><i class="_icon-busd"></i></div>
                  <div class="ref-statistic-block__level">1st lvl</div>
               </div>
               <div class="ref-statistic-block__item">
                  <div class="ref-statistic-block__val">45</div>
                  <div class="ref-statistic-block__coin"><i class="_icon-busd"></i></div>
                  <div class="ref-statistic-block__level">2st lvl</div>
               </div>
               <div class="ref-statistic-block__item">
                  <div class="ref-statistic-block__val">45</div>
                  <div class="ref-statistic-block__coin"><i class="_icon-busd"></i></div>
                  <div class="ref-statistic-block__level">3st lvl</div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
