<section class="cabinet__section active-deposits">
   <div class="active-deposits__container-l">
      <div class="active-deposits__top-line active-top-line">
         <h4 class="active-top-line__title border-title-text"><span>Active Deposits</span><span>deposits</span></h4>
         <div class="active-top-line__statistics">
            <div class="active-top-line__statistics-item">
               <span>Total invested</span>
               <span>$ 45</span>
            </div>
            <div class="active-top-line__statistics-item">
               <span>Total daily income</span>
               <span>$ 3</span>
            </div>
         </div>
         <div class="active-top-line__search">
            <label class="active-top-line__search-label" for="searchInput"><i class="_icon-search"></i></label>
            <input id="searchInput" placeholder="Search" type="text" class="active-top-line__input" />
         </div>
      </div>
      <div data-pagination="1" class="active-deposits__list active-list">
         <div class="active-list__head-line">
            <span></span>
            <h5>Withdraw</h5>
            <h5>Accrued</h5>
            <h5>Daily profit</h5>
            <h5>Сurrent interest</h5>
            <h5>Date start</h5>
            <h5>Withdrawal fee</h5>
         </div>
         <div data-pagination-list class="active-list__list">
            <div class="active-list__item active-item">
               <div class="active-item__name-col active-name">
                  <div class="active-name__name"><span>1</span><span>Active deposits 1</span></div>
                  <div class="active-name__value">
                     <i class="_icon-busd"></i>
                     <span>9.95</span>
                  </div>
               </div>
               <div class="active-item__col-not-named active-withdraw">
                  <input class="active-withdraw__input" placeholder="Enter amount" type="number" />
                  <button data-popup="smallWithdrawalPopup" type="button" class="active-withdraw__button">Withdraw</button>
               </div>
               <div class="active-item__col active-accrued">
                  <span class="active-item__mob-title">Accrued</span>
                  <div class="active-accrued__content">
                     <i class="_icon-busd"></i>
                     <span>345.87</span>
                  </div>
               </div>
               <div class="active-item__col active-profit">
                  <span class="active-item__mob-title">Daily profit</span>
                  <div class="active-profit__content">
                     <i class="_icon-busd"></i>
                     <i class="_icon-arrow"></i>
                     <span>500</span>
                  </div>
               </div>
               <div class="active-item__col active-interest">
                  <span class="active-item__mob-title">Сurrent interest</span>
                  <div class="active-interest__content">
                     <span class="active-interest__val">1.27%</span>
                     <button data-popup="compoundingPopup" type="button" class="active-interest__button">Set</button>
                  </div>
               </div>
               <div class="active-item__col active-date">
                  <span class="active-item__mob-title">Date start</span>
                  <div class="active-date__content">
                     <div class="active-date__val">
                        <i class="_icon-calendar"></i>
                        <span>21.07.2022</span>
                     </div>
                     <div class="active-date__val">
                        <i class="_icon-clock"></i>
                        <span>1:15:45</span>
                     </div>
                  </div>
               </div>
               <div class="active-item__col active-fee">
                  <span class="active-item__mob-title">Withdrawal fee</span>
                  <div class="active-fee__content">
                     <span>1.27%</span>
                  </div>
               </div>
            </div>
            <div class="active-list__item active-item">
               <div class="active-item__name-col active-name">
                  <div class="active-name__name"><span>1</span><span>Active deposits 1</span></div>
                  <div class="active-name__value">
                     <i class="_icon-busd"></i>
                     <span>9.95</span>
                  </div>
               </div>
               <div class="active-item__col-not-named active-withdraw">
                  <input class="active-withdraw__input" placeholder="Enter amount" type="number" />
                  <button data-popup="smallWithdrawalPopup" type="button" class="active-withdraw__button">Withdraw</button>
               </div>
               <div class="active-item__col active-accrued">
                  <span class="active-item__mob-title">Accrued</span>
                  <div class="active-accrued__content">
                     <i class="_icon-busd"></i>
                     <span>345.87</span>
                  </div>
               </div>
               <div class="active-item__col active-profit">
                  <span class="active-item__mob-title">Daily profit</span>
                  <div class="active-profit__content">
                     <i class="_icon-busd"></i>
                     <i class="_icon-arrow"></i>
                     <span>500</span>
                  </div>
               </div>
               <div class="active-item__col active-interest">
                  <span class="active-item__mob-title">Сurrent interest</span>
                  <div class="active-interest__content">
                     <span class="active-interest__val">1.27%</span>
                     <button data-popup="compoundingPopup" type="button" class="active-interest__button">Set</button>
                  </div>
               </div>
               <div class="active-item__col active-date">
                  <span class="active-item__mob-title">Date start</span>
                  <div class="active-date__content">
                     <div class="active-date__val">
                        <i class="_icon-calendar"></i>
                        <span>21.07.2022</span>
                     </div>
                     <div class="active-date__val">
                        <i class="_icon-clock"></i>
                        <span>1:15:45</span>
                     </div>
                  </div>
               </div>
               <div class="active-item__col active-fee">
                  <span class="active-item__mob-title">Withdrawal fee</span>
                  <div class="active-fee__content">
                     <span>1.27%</span>
                  </div>
               </div>
            </div>
            <div class="active-list__item active-item">
               <div class="active-item__name-col active-name">
                  <div class="active-name__name"><span>1</span><span>Active deposits 1</span></div>
                  <div class="active-name__value">
                     <i class="_icon-busd"></i>
                     <span>9.95</span>
                  </div>
               </div>
               <div class="active-item__col-not-named active-withdraw">
                  <input class="active-withdraw__input" placeholder="Enter amount" type="number" />
                  <button data-popup="smallWithdrawalPopup" type="button" class="active-withdraw__button">Withdraw</button>
               </div>
               <div class="active-item__col active-accrued">
                  <span class="active-item__mob-title">Accrued</span>
                  <div class="active-accrued__content">
                     <i class="_icon-busd"></i>
                     <span>345.87</span>
                  </div>
               </div>
               <div class="active-item__col active-profit">
                  <span class="active-item__mob-title">Daily profit</span>
                  <div class="active-profit__content">
                     <i class="_icon-busd"></i>
                     <i class="_icon-arrow"></i>
                     <span>500</span>
                  </div>
               </div>
               <div class="active-item__col active-interest">
                  <span class="active-item__mob-title">Сurrent interest</span>
                  <div class="active-interest__content">
                     <span class="active-interest__val">1.27%</span>
                     <button data-popup="compoundingPopup" type="button" class="active-interest__button">Set</button>
                  </div>
               </div>
               <div class="active-item__col active-date">
                  <span class="active-item__mob-title">Date start</span>
                  <div class="active-date__content">
                     <div class="active-date__val">
                        <i class="_icon-calendar"></i>
                        <span>21.07.2022</span>
                     </div>
                     <div class="active-date__val">
                        <i class="_icon-clock"></i>
                        <span>1:15:45</span>
                     </div>
                  </div>
               </div>
               <div class="active-item__col active-fee">
                  <span class="active-item__mob-title">Withdrawal fee</span>
                  <div class="active-fee__content">
                     <span>1.27%</span>
                  </div>
               </div>
            </div>
            <div class="active-list__item active-item">
               <div class="active-item__name-col active-name">
                  <div class="active-name__name"><span>1</span><span>Active deposits 1</span></div>
                  <div class="active-name__value">
                     <i class="_icon-busd"></i>
                     <span>9.95</span>
                  </div>
               </div>
               <div class="active-item__col-not-named active-withdraw">
                  <input class="active-withdraw__input" placeholder="Enter amount" type="number" />
                  <button data-popup="smallWithdrawalPopup" type="button" class="active-withdraw__button">Withdraw</button>
               </div>
               <div class="active-item__col active-accrued">
                  <span class="active-item__mob-title">Accrued</span>
                  <div class="active-accrued__content">
                     <i class="_icon-busd"></i>
                     <span>345.87</span>
                  </div>
               </div>
               <div class="active-item__col active-profit">
                  <span class="active-item__mob-title">Daily profit</span>
                  <div class="active-profit__content">
                     <i class="_icon-busd"></i>
                     <i class="_icon-arrow"></i>
                     <span>500</span>
                  </div>
               </div>
               <div class="active-item__col active-interest">
                  <span class="active-item__mob-title">Сurrent interest</span>
                  <div class="active-interest__content">
                     <span class="active-interest__val">1.27%</span>
                     <button data-popup="compoundingPopup" type="button" class="active-interest__button">Set</button>
                  </div>
               </div>
               <div class="active-item__col active-date">
                  <span class="active-item__mob-title">Date start</span>
                  <div class="active-date__content">
                     <div class="active-date__val">
                        <i class="_icon-calendar"></i>
                        <span>21.07.2022</span>
                     </div>
                     <div class="active-date__val">
                        <i class="_icon-clock"></i>
                        <span>1:15:45</span>
                     </div>
                  </div>
               </div>
               <div class="active-item__col active-fee">
                  <span class="active-item__mob-title">Withdrawal fee</span>
                  <div class="active-fee__content">
                     <span>1.27%</span>
                  </div>
               </div>
            </div>
            <div class="active-list__item active-item">
               <div class="active-item__name-col active-name">
                  <div class="active-name__name"><span>1</span><span>Active deposits 1</span></div>
                  <div class="active-name__value">
                     <i class="_icon-busd"></i>
                     <span>9.95</span>
                  </div>
               </div>
               <div class="active-item__col-not-named active-withdraw">
                  <input class="active-withdraw__input" placeholder="Enter amount" type="number" />
                  <button data-popup="smallWithdrawalPopup" type="button" class="active-withdraw__button">Withdraw</button>
               </div>
               <div class="active-item__col active-accrued">
                  <span class="active-item__mob-title">Accrued</span>
                  <div class="active-accrued__content">
                     <i class="_icon-busd"></i>
                     <span>345.87</span>
                  </div>
               </div>
               <div class="active-item__col active-profit">
                  <span class="active-item__mob-title">Daily profit</span>
                  <div class="active-profit__content">
                     <i class="_icon-busd"></i>
                     <i class="_icon-arrow"></i>
                     <span>500</span>
                  </div>
               </div>
               <div class="active-item__col active-interest">
                  <span class="active-item__mob-title">Сurrent interest</span>
                  <div class="active-interest__content">
                     <span class="active-interest__val">1.27%</span>
                     <button data-popup="compoundingPopup" type="button" class="active-interest__button">Set</button>
                  </div>
               </div>
               <div class="active-item__col active-date">
                  <span class="active-item__mob-title">Date start</span>
                  <div class="active-date__content">
                     <div class="active-date__val">
                        <i class="_icon-calendar"></i>
                        <span>21.07.2022</span>
                     </div>
                     <div class="active-date__val">
                        <i class="_icon-clock"></i>
                        <span>1:15:45</span>
                     </div>
                  </div>
               </div>
               <div class="active-item__col active-fee">
                  <span class="active-item__mob-title">Withdrawal fee</span>
                  <div class="active-fee__content">
                     <span>1.27%</span>
                  </div>
               </div>
            </div>
            <div class="active-list__item active-item">
               <div class="active-item__name-col active-name">
                  <div class="active-name__name"><span>1</span><span>Active deposits 1</span></div>
                  <div class="active-name__value">
                     <i class="_icon-busd"></i>
                     <span>9.95</span>
                  </div>
               </div>
               <div class="active-item__col-not-named active-withdraw">
                  <input class="active-withdraw__input" placeholder="Enter amount" type="number" />
                  <button data-popup="smallWithdrawalPopup" type="button" class="active-withdraw__button">Withdraw</button>
               </div>
               <div class="active-item__col active-accrued">
                  <span class="active-item__mob-title">Accrued</span>
                  <div class="active-accrued__content">
                     <i class="_icon-busd"></i>
                     <span>345.87</span>
                  </div>
               </div>
               <div class="active-item__col active-profit">
                  <span class="active-item__mob-title">Daily profit</span>
                  <div class="active-profit__content">
                     <i class="_icon-busd"></i>
                     <i class="_icon-arrow"></i>
                     <span>500</span>
                  </div>
               </div>
               <div class="active-item__col active-interest">
                  <span class="active-item__mob-title">Сurrent interest</span>
                  <div class="active-interest__content">
                     <span class="active-interest__val">1.27%</span>
                     <button data-popup="compoundingPopup" type="button" class="active-interest__button">Set</button>
                  </div>
               </div>
               <div class="active-item__col active-date">
                  <span class="active-item__mob-title">Date start</span>
                  <div class="active-date__content">
                     <div class="active-date__val">
                        <i class="_icon-calendar"></i>
                        <span>21.07.2022</span>
                     </div>
                     <div class="active-date__val">
                        <i class="_icon-clock"></i>
                        <span>1:15:45</span>
                     </div>
                  </div>
               </div>
               <div class="active-item__col active-fee">
                  <span class="active-item__mob-title">Withdrawal fee</span>
                  <div class="active-fee__content">
                     <span>1.27%</span>
                  </div>
               </div>
            </div>
            <div class="active-list__item active-item">
               <div class="active-item__name-col active-name">
                  <div class="active-name__name"><span>1</span><span>Active deposits 1</span></div>
                  <div class="active-name__value">
                     <i class="_icon-busd"></i>
                     <span>9.95</span>
                  </div>
               </div>
               <div class="active-item__col-not-named active-withdraw">
                  <input class="active-withdraw__input" placeholder="Enter amount" type="number" />
                  <button data-popup="smallWithdrawalPopup" type="button" class="active-withdraw__button">Withdraw</button>
               </div>
               <div class="active-item__col active-accrued">
                  <span class="active-item__mob-title">Accrued</span>
                  <div class="active-accrued__content">
                     <i class="_icon-busd"></i>
                     <span>345.87</span>
                  </div>
               </div>
               <div class="active-item__col active-profit">
                  <span class="active-item__mob-title">Daily profit</span>
                  <div class="active-profit__content">
                     <i class="_icon-busd"></i>
                     <i class="_icon-arrow"></i>
                     <span>500</span>
                  </div>
               </div>
               <div class="active-item__col active-interest">
                  <span class="active-item__mob-title">Сurrent interest</span>
                  <div class="active-interest__content">
                     <span class="active-interest__val">1.27%</span>
                     <button data-popup="compoundingPopup" type="button" class="active-interest__button">Set</button>
                  </div>
               </div>
               <div class="active-item__col active-date">
                  <span class="active-item__mob-title">Date start</span>
                  <div class="active-date__content">
                     <div class="active-date__val">
                        <i class="_icon-calendar"></i>
                        <span>21.07.2022</span>
                     </div>
                     <div class="active-date__val">
                        <i class="_icon-clock"></i>
                        <span>1:15:45</span>
                     </div>
                  </div>
               </div>
               <div class="active-item__col active-fee">
                  <span class="active-item__mob-title">Withdrawal fee</span>
                  <div class="active-fee__content">
                     <span>1.27%</span>
                  </div>
               </div>
            </div>
            <div class="active-list__item active-item">
               <div class="active-item__name-col active-name">
                  <div class="active-name__name"><span>1</span><span>Active deposits 1</span></div>
                  <div class="active-name__value">
                     <i class="_icon-busd"></i>
                     <span>9.95</span>
                  </div>
               </div>
               <div class="active-item__col-not-named active-withdraw">
                  <input class="active-withdraw__input" placeholder="Enter amount" type="number" />
                  <button data-popup="smallWithdrawalPopup" type="button" class="active-withdraw__button">Withdraw</button>
               </div>
               <div class="active-item__col active-accrued">
                  <span class="active-item__mob-title">Accrued</span>
                  <div class="active-accrued__content">
                     <i class="_icon-busd"></i>
                     <span>345.87</span>
                  </div>
               </div>
               <div class="active-item__col active-profit">
                  <span class="active-item__mob-title">Daily profit</span>
                  <div class="active-profit__content">
                     <i class="_icon-busd"></i>
                     <i class="_icon-arrow"></i>
                     <span>500</span>
                  </div>
               </div>
               <div class="active-item__col active-interest">
                  <span class="active-item__mob-title">Сurrent interest</span>
                  <div class="active-interest__content">
                     <span class="active-interest__val">1.27%</span>
                     <button data-popup="compoundingPopup" type="button" class="active-interest__button">Set</button>
                  </div>
               </div>
               <div class="active-item__col active-date">
                  <span class="active-item__mob-title">Date start</span>
                  <div class="active-date__content">
                     <div class="active-date__val">
                        <i class="_icon-calendar"></i>
                        <span>21.07.2022</span>
                     </div>
                     <div class="active-date__val">
                        <i class="_icon-clock"></i>
                        <span>1:15:45</span>
                     </div>
                  </div>
               </div>
               <div class="active-item__col active-fee">
                  <span class="active-item__mob-title">Withdrawal fee</span>
                  <div class="active-fee__content">
                     <span>1.27%</span>
                  </div>
               </div>
            </div>
            <div class="active-list__item active-item">
               <div class="active-item__name-col active-name">
                  <div class="active-name__name"><span>1</span><span>Active deposits 1</span></div>
                  <div class="active-name__value">
                     <i class="_icon-busd"></i>
                     <span>9.95</span>
                  </div>
               </div>
               <div class="active-item__col-not-named active-withdraw">
                  <input class="active-withdraw__input" placeholder="Enter amount" type="number" />
                  <button data-popup="smallWithdrawalPopup" type="button" class="active-withdraw__button">Withdraw</button>
               </div>
               <div class="active-item__col active-accrued">
                  <span class="active-item__mob-title">Accrued</span>
                  <div class="active-accrued__content">
                     <i class="_icon-busd"></i>
                     <span>345.87</span>
                  </div>
               </div>
               <div class="active-item__col active-profit">
                  <span class="active-item__mob-title">Daily profit</span>
                  <div class="active-profit__content">
                     <i class="_icon-busd"></i>
                     <i class="_icon-arrow"></i>
                     <span>500</span>
                  </div>
               </div>
               <div class="active-item__col active-interest">
                  <span class="active-item__mob-title">Сurrent interest</span>
                  <div class="active-interest__content">
                     <span class="active-interest__val">1.27%</span>
                     <button data-popup="compoundingPopup" type="button" class="active-interest__button">Set</button>
                  </div>
               </div>
               <div class="active-item__col active-date">
                  <span class="active-item__mob-title">Date start</span>
                  <div class="active-date__content">
                     <div class="active-date__val">
                        <i class="_icon-calendar"></i>
                        <span>21.07.2022</span>
                     </div>
                     <div class="active-date__val">
                        <i class="_icon-clock"></i>
                        <span>1:15:45</span>
                     </div>
                  </div>
               </div>
               <div class="active-item__col active-fee">
                  <span class="active-item__mob-title">Withdrawal fee</span>
                  <div class="active-fee__content">
                     <span>1.27%</span>
                  </div>
               </div>
            </div>
            <div class="active-list__item active-item">
               <div class="active-item__name-col active-name">
                  <div class="active-name__name"><span>1</span><span>Active deposits 1</span></div>
                  <div class="active-name__value">
                     <i class="_icon-busd"></i>
                     <span>9.95</span>
                  </div>
               </div>
               <div class="active-item__col-not-named active-withdraw">
                  <input class="active-withdraw__input" placeholder="Enter amount" type="number" />
                  <button data-popup="smallWithdrawalPopup" type="button" class="active-withdraw__button">Withdraw</button>
               </div>
               <div class="active-item__col active-accrued">
                  <span class="active-item__mob-title">Accrued</span>
                  <div class="active-accrued__content">
                     <i class="_icon-busd"></i>
                     <span>345.87</span>
                  </div>
               </div>
               <div class="active-item__col active-profit">
                  <span class="active-item__mob-title">Daily profit</span>
                  <div class="active-profit__content">
                     <i class="_icon-busd"></i>
                     <i class="_icon-arrow"></i>
                     <span>500</span>
                  </div>
               </div>
               <div class="active-item__col active-interest">
                  <span class="active-item__mob-title">Сurrent interest</span>
                  <div class="active-interest__content">
                     <span class="active-interest__val">1.27%</span>
                     <button data-popup="compoundingPopup" type="button" class="active-interest__button">Set</button>
                  </div>
               </div>
               <div class="active-item__col active-date">
                  <span class="active-item__mob-title">Date start</span>
                  <div class="active-date__content">
                     <div class="active-date__val">
                        <i class="_icon-calendar"></i>
                        <span>21.07.2022</span>
                     </div>
                     <div class="active-date__val">
                        <i class="_icon-clock"></i>
                        <span>1:15:45</span>
                     </div>
                  </div>
               </div>
               <div class="active-item__col active-fee">
                  <span class="active-item__mob-title">Withdrawal fee</span>
                  <div class="active-fee__content">
                     <span>1.27%</span>
                  </div>
               </div>
            </div>
            <div class="active-list__item active-item">
               <div class="active-item__name-col active-name">
                  <div class="active-name__name"><span>1</span><span>Active deposits 1</span></div>
                  <div class="active-name__value">
                     <i class="_icon-busd"></i>
                     <span>9.95</span>
                  </div>
               </div>
               <div class="active-item__col-not-named active-withdraw">
                  <input class="active-withdraw__input" placeholder="Enter amount" type="number" />
                  <button data-popup="smallWithdrawalPopup" type="button" class="active-withdraw__button">Withdraw</button>
               </div>
               <div class="active-item__col active-accrued">
                  <span class="active-item__mob-title">Accrued</span>
                  <div class="active-accrued__content">
                     <i class="_icon-busd"></i>
                     <span>345.87</span>
                  </div>
               </div>
               <div class="active-item__col active-profit">
                  <span class="active-item__mob-title">Daily profit</span>
                  <div class="active-profit__content">
                     <i class="_icon-busd"></i>
                     <i class="_icon-arrow"></i>
                     <span>500</span>
                  </div>
               </div>
               <div class="active-item__col active-interest">
                  <span class="active-item__mob-title">Сurrent interest</span>
                  <div class="active-interest__content">
                     <span class="active-interest__val">1.27%</span>
                     <button data-popup="compoundingPopup" type="button" class="active-interest__button">Set</button>
                  </div>
               </div>
               <div class="active-item__col active-date">
                  <span class="active-item__mob-title">Date start</span>
                  <div class="active-date__content">
                     <div class="active-date__val">
                        <i class="_icon-calendar"></i>
                        <span>21.07.2022</span>
                     </div>
                     <div class="active-date__val">
                        <i class="_icon-clock"></i>
                        <span>1:15:45</span>
                     </div>
                  </div>
               </div>
               <div class="active-item__col active-fee">
                  <span class="active-item__mob-title">Withdrawal fee</span>
                  <div class="active-fee__content">
                     <span>1.27%</span>
                  </div>
               </div>
            </div>
            <div class="active-list__item active-item">
               <div class="active-item__name-col active-name">
                  <div class="active-name__name"><span>1</span><span>Active deposits 1</span></div>
                  <div class="active-name__value">
                     <i class="_icon-busd"></i>
                     <span>9.95</span>
                  </div>
               </div>
               <div class="active-item__col-not-named active-withdraw">
                  <input class="active-withdraw__input" placeholder="Enter amount" type="number" />
                  <button data-popup="smallWithdrawalPopup" type="button" class="active-withdraw__button">Withdraw</button>
               </div>
               <div class="active-item__col active-accrued">
                  <span class="active-item__mob-title">Accrued</span>
                  <div class="active-accrued__content">
                     <i class="_icon-busd"></i>
                     <span>345.87</span>
                  </div>
               </div>
               <div class="active-item__col active-profit">
                  <span class="active-item__mob-title">Daily profit</span>
                  <div class="active-profit__content">
                     <i class="_icon-busd"></i>
                     <i class="_icon-arrow"></i>
                     <span>500</span>
                  </div>
               </div>
               <div class="active-item__col active-interest">
                  <span class="active-item__mob-title">Сurrent interest</span>
                  <div class="active-interest__content">
                     <span class="active-interest__val">1.27%</span>
                     <button data-popup="compoundingPopup" type="button" class="active-interest__button">Set</button>
                  </div>
               </div>
               <div class="active-item__col active-date">
                  <span class="active-item__mob-title">Date start</span>
                  <div class="active-date__content">
                     <div class="active-date__val">
                        <i class="_icon-calendar"></i>
                        <span>21.07.2022</span>
                     </div>
                     <div class="active-date__val">
                        <i class="_icon-clock"></i>
                        <span>1:15:45</span>
                     </div>
                  </div>
               </div>
               <div class="active-item__col active-fee">
                  <span class="active-item__mob-title">Withdrawal fee</span>
                  <div class="active-fee__content">
                     <span>1.27%</span>
                  </div>
               </div>
            </div>
         </div>
         <!--CabinetPagination-->
         @@include('./_cabinet-pagination.htm',{})
         <!--End CabinetPagination-->
      </div>
   </div>
</section>
