<section class="cabinet__section refer-bonus">
   <div class="refer-bonus__container-l">
      <div class="refer-bonus__content">
         <h2 class="refer-bonus__title border-title-text"><span>Refer Friends & Earn Bonus</span><span>Earn Bonus</span></h2>
         <div class="refer-bonus__list bonus-list">
            <div class="bonus-list__item">
               <div class="bonus-list__image">
                  <img src='@img/1px.png' data-src="@img/cabinet/level-1.png" alt="level-1" />
                  <span>1 level</span>
               </div>
               <div class="bonus-list__percent">7%</div>
            </div>
            <div class="bonus-list__item">
               <div class="bonus-list__image">
                  <img src='@img/1px.png' data-src="@img/cabinet/level-2.png" alt="level-2" />
                  <span>2 level</span>
               </div>
               <div class="bonus-list__percent">2%</div>
            </div>
            <div class="bonus-list__item">
               <div class="bonus-list__image">
                  <img src='@img/1px.png' data-src="@img/cabinet/level-3.png" alt="level-3" />
                  <span>3 level</span>
               </div>
               <div class="bonus-list__percent">1%</div>
            </div>
         </div>
         <div class="refer-bonus__ref-link ref-link-block">
            <h3 class="ref-link-block__title">Share my referral link with friends</h3>
            <div class="ref-link-block__content">
               <div data-copy-block class="ref-link-block__link-box">
                  <span data-copy-val class="ref-link-block__link">https://bitpetie/sdfsdsdf45645sdfsdsdf45645sdfsdsdf45645</span>
                  <button data-copy-btn type="button" class="ref-link-block__copybtn">
                     <i class="_icon-copy"></i>
                     <i class="_icon-copied"></i>
                  </button>
               </div>
               <a href="#" class="ref-link-block__promotion-link button"><span>Promotional materials</span></a>
            </div>
         </div>
      </div>
   </div>
</section>