<section class="cabinet__section refer-history">
   <div class="refer-history__container-l">
      <h4 class="refer-history__title border-title-text"><span>Referral History</span><span>history</span></h4>
      <div data-pagination="2" class="refer-history__list ref-history-list">
         <div class="ref-history-list__head-line">
            <h5>Referral</h5>
            <h5>Referral level</h5>
            <h5>Your bonus</h5>
            <h5>Date start</h5>
            <h5>Date end</h5>
         </div>
         <div data-pagination-list class="ref-history-list__list">
            <div class="ref-history-list__item ref-history-item">
               <div class="ref-history-item__col history-referral">
                  <span class="ref-history-item__mob-title">Accrued</span>
                  <div class="history-referral__content">
                     <span>Adress instantly a instantly instantly instantlyinstantlyinstantlyinstantlyll</span>
                  </div>
               </div>
               <div class="ref-history-item__col history-level">
                  <span class="ref-history-item__mob-title">Referral level </span>
                  <div class="history-level__content">
                     <img src='@img/1px.png' class="history-level__img" data-src="@img/cabinet/level-1.png" alt="level-1" />
                     <span>1</span>
                  </div>
               </div>
               <div class="ref-history-item__col history-bonus">
                  <span class="ref-history-item__mob-title">Your bonus</span>
                  <div class="history-bonus__content">
                     <i class="_icon-busd"></i>
                     <i class="_icon-arrow"></i>
                     <span>0.04356</span>
                  </div>
               </div>
               <div class="ref-history-item__col history-date">
                  <span class="ref-history-item__mob-title">Date start</span>
                  <div class="history-date__content">
                     <div class="history-date__val">
                        <i class="_icon-calendar"></i>
                        <span>21.07.2022</span>
                     </div>
                     <div class="history-date__val">
                        <i class="_icon-clock"></i>
                        <span>1:15:45</span>
                     </div>
                  </div>
               </div>
               <div class="ref-history-item__col history-date">
                  <span class="ref-history-item__mob-title">Date end</span>
                  <div class="history-date__content">
                     <div class="history-date__val">
                        <i class="_icon-calendar"></i>
                        <span>21.07.2022</span>
                     </div>
                     <div class="history-date__val">
                        <i class="_icon-clock"></i>
                        <span>1:15:45</span>
                     </div>
                  </div>
               </div>
            </div>
            <div class="ref-history-list__item ref-history-item">
               <div class="ref-history-item__col history-referral">
                  <span class="ref-history-item__mob-title">Accrued</span>
                  <div class="history-referral__content">
                     <span>Adress instantly a instantly instantly instantlyinstantlyinstantlyinstantlyll</span>
                  </div>
               </div>
               <div class="ref-history-item__col history-level">
                  <span class="ref-history-item__mob-title">Referral level </span>
                  <div class="history-level__content">
                     <img src='@img/1px.png' class="history-level__img" data-src="@img/cabinet/level-1.png" alt="level-1" />
                     <span>1</span>
                  </div>
               </div>
               <div class="ref-history-item__col history-bonus">
                  <span class="ref-history-item__mob-title">Your bonus</span>
                  <div class="history-bonus__content">
                     <i class="_icon-busd"></i>
                     <i class="_icon-arrow"></i>
                     <span>0.04356</span>
                  </div>
               </div>
               <div class="ref-history-item__col history-date">
                  <span class="ref-history-item__mob-title">Date start</span>
                  <div class="history-date__content">
                     <div class="history-date__val">
                        <i class="_icon-calendar"></i>
                        <span>21.07.2022</span>
                     </div>
                     <div class="history-date__val">
                        <i class="_icon-clock"></i>
                        <span>1:15:45</span>
                     </div>
                  </div>
               </div>
               <div class="ref-history-item__col history-date">
                  <span class="ref-history-item__mob-title">Date end</span>
                  <div class="history-date__content">
                     <div class="history-date__val">
                        <i class="_icon-calendar"></i>
                        <span>21.07.2022</span>
                     </div>
                     <div class="history-date__val">
                        <i class="_icon-clock"></i>
                        <span>1:15:45</span>
                     </div>
                  </div>
               </div>
            </div>
            <div class="ref-history-list__item ref-history-item">
               <div class="ref-history-item__col history-referral">
                  <span class="ref-history-item__mob-title">Accrued</span>
                  <div class="history-referral__content">
                     <span>Adress instantly a instantly instantly instantlyinstantlyinstantlyinstantlyll</span>
                  </div>
               </div>
               <div class="ref-history-item__col history-level">
                  <span class="ref-history-item__mob-title">Referral level </span>
                  <div class="history-level__content">
                     <img src='@img/1px.png' class="history-level__img" data-src="@img/cabinet/level-1.png" alt="level-1" />
                     <span>1</span>
                  </div>
               </div>
               <div class="ref-history-item__col history-bonus">
                  <span class="ref-history-item__mob-title">Your bonus</span>
                  <div class="history-bonus__content">
                     <i class="_icon-busd"></i>
                     <i class="_icon-arrow"></i>
                     <span>0.04356</span>
                  </div>
               </div>
               <div class="ref-history-item__col history-date">
                  <span class="ref-history-item__mob-title">Date start</span>
                  <div class="history-date__content">
                     <div class="history-date__val">
                        <i class="_icon-calendar"></i>
                        <span>21.07.2022</span>
                     </div>
                     <div class="history-date__val">
                        <i class="_icon-clock"></i>
                        <span>1:15:45</span>
                     </div>
                  </div>
               </div>
               <div class="ref-history-item__col history-date">
                  <span class="ref-history-item__mob-title">Date end</span>
                  <div class="history-date__content">
                     <div class="history-date__val">
                        <i class="_icon-calendar"></i>
                        <span>21.07.2022</span>
                     </div>
                     <div class="history-date__val">
                        <i class="_icon-clock"></i>
                        <span>1:15:45</span>
                     </div>
                  </div>
               </div>
            </div>
            <div class="ref-history-list__item ref-history-item">
               <div class="ref-history-item__col history-referral">
                  <span class="ref-history-item__mob-title">Accrued</span>
                  <div class="history-referral__content">
                     <span>Adress instantly a instantly instantly instantlyinstantlyinstantlyinstantlyll</span>
                  </div>
               </div>
               <div class="ref-history-item__col history-level">
                  <span class="ref-history-item__mob-title">Referral level </span>
                  <div class="history-level__content">
                     <img src='@img/1px.png' class="history-level__img" data-src="@img/cabinet/level-1.png" alt="level-1" />
                     <span>1</span>
                  </div>
               </div>
               <div class="ref-history-item__col history-bonus">
                  <span class="ref-history-item__mob-title">Your bonus</span>
                  <div class="history-bonus__content">
                     <i class="_icon-busd"></i>
                     <i class="_icon-arrow"></i>
                     <span>0.04356</span>
                  </div>
               </div>
               <div class="ref-history-item__col history-date">
                  <span class="ref-history-item__mob-title">Date start</span>
                  <div class="history-date__content">
                     <div class="history-date__val">
                        <i class="_icon-calendar"></i>
                        <span>21.07.2022</span>
                     </div>
                     <div class="history-date__val">
                        <i class="_icon-clock"></i>
                        <span>1:15:45</span>
                     </div>
                  </div>
               </div>
               <div class="ref-history-item__col history-date">
                  <span class="ref-history-item__mob-title">Date end</span>
                  <div class="history-date__content">
                     <div class="history-date__val">
                        <i class="_icon-calendar"></i>
                        <span>21.07.2022</span>
                     </div>
                     <div class="history-date__val">
                        <i class="_icon-clock"></i>
                        <span>1:15:45</span>
                     </div>
                  </div>
               </div>
            </div>
            <div class="ref-history-list__item ref-history-item">
               <div class="ref-history-item__col history-referral">
                  <span class="ref-history-item__mob-title">Accrued</span>
                  <div class="history-referral__content">
                     <span>Adress instantly a instantly instantly instantlyinstantlyinstantlyinstantlyll</span>
                  </div>
               </div>
               <div class="ref-history-item__col history-level">
                  <span class="ref-history-item__mob-title">Referral level </span>
                  <div class="history-level__content">
                     <img src='@img/1px.png' class="history-level__img" data-src="@img/cabinet/level-1.png" alt="level-1" />
                     <span>1</span>
                  </div>
               </div>
               <div class="ref-history-item__col history-bonus">
                  <span class="ref-history-item__mob-title">Your bonus</span>
                  <div class="history-bonus__content">
                     <i class="_icon-busd"></i>
                     <i class="_icon-arrow"></i>
                     <span>0.04356</span>
                  </div>
               </div>
               <div class="ref-history-item__col history-date">
                  <span class="ref-history-item__mob-title">Date start</span>
                  <div class="history-date__content">
                     <div class="history-date__val">
                        <i class="_icon-calendar"></i>
                        <span>21.07.2022</span>
                     </div>
                     <div class="history-date__val">
                        <i class="_icon-clock"></i>
                        <span>1:15:45</span>
                     </div>
                  </div>
               </div>
               <div class="ref-history-item__col history-date">
                  <span class="ref-history-item__mob-title">Date end</span>
                  <div class="history-date__content">
                     <div class="history-date__val">
                        <i class="_icon-calendar"></i>
                        <span>21.07.2022</span>
                     </div>
                     <div class="history-date__val">
                        <i class="_icon-clock"></i>
                        <span>1:15:45</span>
                     </div>
                  </div>
               </div>
            </div>
            <div class="ref-history-list__item ref-history-item">
               <div class="ref-history-item__col history-referral">
                  <span class="ref-history-item__mob-title">Accrued</span>
                  <div class="history-referral__content">
                     <span>Adress instantly a instantly instantly instantlyinstantlyinstantlyinstantlyll</span>
                  </div>
               </div>
               <div class="ref-history-item__col history-level">
                  <span class="ref-history-item__mob-title">Referral level </span>
                  <div class="history-level__content">
                     <img src='@img/1px.png' class="history-level__img" data-src="@img/cabinet/level-1.png" alt="level-1" />
                     <span>1</span>
                  </div>
               </div>
               <div class="ref-history-item__col history-bonus">
                  <span class="ref-history-item__mob-title">Your bonus</span>
                  <div class="history-bonus__content">
                     <i class="_icon-busd"></i>
                     <i class="_icon-arrow"></i>
                     <span>0.04356</span>
                  </div>
               </div>
               <div class="ref-history-item__col history-date">
                  <span class="ref-history-item__mob-title">Date start</span>
                  <div class="history-date__content">
                     <div class="history-date__val">
                        <i class="_icon-calendar"></i>
                        <span>21.07.2022</span>
                     </div>
                     <div class="history-date__val">
                        <i class="_icon-clock"></i>
                        <span>1:15:45</span>
                     </div>
                  </div>
               </div>
               <div class="ref-history-item__col history-date">
                  <span class="ref-history-item__mob-title">Date end</span>
                  <div class="history-date__content">
                     <div class="history-date__val">
                        <i class="_icon-calendar"></i>
                        <span>21.07.2022</span>
                     </div>
                     <div class="history-date__val">
                        <i class="_icon-clock"></i>
                        <span>1:15:45</span>
                     </div>
                  </div>
               </div>
            </div>
            <div class="ref-history-list__item ref-history-item">
               <div class="ref-history-item__col history-referral">
                  <span class="ref-history-item__mob-title">Accrued</span>
                  <div class="history-referral__content">
                     <span>Adress instantly a instantly instantly instantlyinstantlyinstantlyinstantlyll</span>
                  </div>
               </div>
               <div class="ref-history-item__col history-level">
                  <span class="ref-history-item__mob-title">Referral level </span>
                  <div class="history-level__content">
                     <img src='@img/1px.png' class="history-level__img" data-src="@img/cabinet/level-1.png" alt="level-1" />
                     <span>1</span>
                  </div>
               </div>
               <div class="ref-history-item__col history-bonus">
                  <span class="ref-history-item__mob-title">Your bonus</span>
                  <div class="history-bonus__content">
                     <i class="_icon-busd"></i>
                     <i class="_icon-arrow"></i>
                     <span>0.04356</span>
                  </div>
               </div>
               <div class="ref-history-item__col history-date">
                  <span class="ref-history-item__mob-title">Date start</span>
                  <div class="history-date__content">
                     <div class="history-date__val">
                        <i class="_icon-calendar"></i>
                        <span>21.07.2022</span>
                     </div>
                     <div class="history-date__val">
                        <i class="_icon-clock"></i>
                        <span>1:15:45</span>
                     </div>
                  </div>
               </div>
               <div class="ref-history-item__col history-date">
                  <span class="ref-history-item__mob-title">Date end</span>
                  <div class="history-date__content">
                     <div class="history-date__val">
                        <i class="_icon-calendar"></i>
                        <span>21.07.2022</span>
                     </div>
                     <div class="history-date__val">
                        <i class="_icon-clock"></i>
                        <span>1:15:45</span>
                     </div>
                  </div>
               </div>
            </div>
            <div class="ref-history-list__item ref-history-item">
               <div class="ref-history-item__col history-referral">
                  <span class="ref-history-item__mob-title">Accrued</span>
                  <div class="history-referral__content">
                     <span>Adress instantly a instantly instantly instantlyinstantlyinstantlyinstantlyll</span>
                  </div>
               </div>
               <div class="ref-history-item__col history-level">
                  <span class="ref-history-item__mob-title">Referral level </span>
                  <div class="history-level__content">
                     <img src='@img/1px.png' class="history-level__img" data-src="@img/cabinet/level-1.png" alt="level-1" />
                     <span>1</span>
                  </div>
               </div>
               <div class="ref-history-item__col history-bonus">
                  <span class="ref-history-item__mob-title">Your bonus</span>
                  <div class="history-bonus__content">
                     <i class="_icon-busd"></i>
                     <i class="_icon-arrow"></i>
                     <span>0.04356</span>
                  </div>
               </div>
               <div class="ref-history-item__col history-date">
                  <span class="ref-history-item__mob-title">Date start</span>
                  <div class="history-date__content">
                     <div class="history-date__val">
                        <i class="_icon-calendar"></i>
                        <span>21.07.2022</span>
                     </div>
                     <div class="history-date__val">
                        <i class="_icon-clock"></i>
                        <span>1:15:45</span>
                     </div>
                  </div>
               </div>
               <div class="ref-history-item__col history-date">
                  <span class="ref-history-item__mob-title">Date end</span>
                  <div class="history-date__content">
                     <div class="history-date__val">
                        <i class="_icon-calendar"></i>
                        <span>21.07.2022</span>
                     </div>
                     <div class="history-date__val">
                        <i class="_icon-clock"></i>
                        <span>1:15:45</span>
                     </div>
                  </div>
               </div>
            </div>
            <div class="ref-history-list__item ref-history-item">
               <div class="ref-history-item__col history-referral">
                  <span class="ref-history-item__mob-title">Accrued</span>
                  <div class="history-referral__content">
                     <span>Adress instantly a instantly instantly instantlyinstantlyinstantlyinstantlyll</span>
                  </div>
               </div>
               <div class="ref-history-item__col history-level">
                  <span class="ref-history-item__mob-title">Referral level </span>
                  <div class="history-level__content">
                     <img src='@img/1px.png' class="history-level__img" data-src="@img/cabinet/level-1.png" alt="level-1" />
                     <span>1</span>
                  </div>
               </div>
               <div class="ref-history-item__col history-bonus">
                  <span class="ref-history-item__mob-title">Your bonus</span>
                  <div class="history-bonus__content">
                     <i class="_icon-busd"></i>
                     <i class="_icon-arrow"></i>
                     <span>0.04356</span>
                  </div>
               </div>
               <div class="ref-history-item__col history-date">
                  <span class="ref-history-item__mob-title">Date start</span>
                  <div class="history-date__content">
                     <div class="history-date__val">
                        <i class="_icon-calendar"></i>
                        <span>21.07.2022</span>
                     </div>
                     <div class="history-date__val">
                        <i class="_icon-clock"></i>
                        <span>1:15:45</span>
                     </div>
                  </div>
               </div>
               <div class="ref-history-item__col history-date">
                  <span class="ref-history-item__mob-title">Date end</span>
                  <div class="history-date__content">
                     <div class="history-date__val">
                        <i class="_icon-calendar"></i>
                        <span>21.07.2022</span>
                     </div>
                     <div class="history-date__val">
                        <i class="_icon-clock"></i>
                        <span>1:15:45</span>
                     </div>
                  </div>
               </div>
            </div>
            <div class="ref-history-list__item ref-history-item">
               <div class="ref-history-item__col history-referral">
                  <span class="ref-history-item__mob-title">Accrued</span>
                  <div class="history-referral__content">
                     <span>Adress instantly a instantly instantly instantlyinstantlyinstantlyinstantlyll</span>
                  </div>
               </div>
               <div class="ref-history-item__col history-level">
                  <span class="ref-history-item__mob-title">Referral level </span>
                  <div class="history-level__content">
                     <img src='@img/1px.png' class="history-level__img" data-src="@img/cabinet/level-1.png" alt="level-1" />
                     <span>1</span>
                  </div>
               </div>
               <div class="ref-history-item__col history-bonus">
                  <span class="ref-history-item__mob-title">Your bonus</span>
                  <div class="history-bonus__content">
                     <i class="_icon-busd"></i>
                     <i class="_icon-arrow"></i>
                     <span>0.04356</span>
                  </div>
               </div>
               <div class="ref-history-item__col history-date">
                  <span class="ref-history-item__mob-title">Date start</span>
                  <div class="history-date__content">
                     <div class="history-date__val">
                        <i class="_icon-calendar"></i>
                        <span>21.07.2022</span>
                     </div>
                     <div class="history-date__val">
                        <i class="_icon-clock"></i>
                        <span>1:15:45</span>
                     </div>
                  </div>
               </div>
               <div class="ref-history-item__col history-date">
                  <span class="ref-history-item__mob-title">Date end</span>
                  <div class="history-date__content">
                     <div class="history-date__val">
                        <i class="_icon-calendar"></i>
                        <span>21.07.2022</span>
                     </div>
                     <div class="history-date__val">
                        <i class="_icon-clock"></i>
                        <span>1:15:45</span>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!--CabinetPagination-->
         @@include('./_cabinet-pagination.htm',{})
         <!--End CabinetPagination-->
      </div>
   </div>
</section>