<section class="cabinet__section cabinet-statistics">
   <div class="cabinet-statistics__container-l">
      <div class="cabinet-statistics__content">
         <div class="cabinet-statistics__block balance-statistics">
            <h2 class="balance-statistics__title">Balance</h2>
            <div class="balance-statistics__content">
               <div class="balance-statistics__balance-block">
                  <i class="_icon-busd"></i>
                  <div class="balance-statistics__info">
                     <span>BUSD</span>
                     <span>0.2213</span>
                  </div>
               </div>
               <div class="balance-statistics__buttons">
                  <button data-popup="bigWithdrawalPopup" type="button" class="balance-statistics__btn button"><span>Withdraw</span></button>
                  <button data-popup="reinvestPopup" type="button" class="balance-statistics__btn button"><span>Invest from balance</span></button>
               </div>
            </div>
         </div>
         <div class="cabinet-statistics__block common-statistics">
            <div class="common-statistics__row">
               <span>Invested</span>
               <span>0.0000</span>
            </div>
            <div class="common-statistics__row">
               <span>Number of deposits</span>
               <span>0</span>
            </div>
            <div class="common-statistics__row">
               <span>Last deposit date</span>
               <span>14:19 | 03.09.2022</span>
            </div>
            <div class="common-statistics__row">
               <span>Total earned</span>
               <span>112.91644</span>
            </div>
            <div class="common-statistics__row">
               <span>Total withdrawn</span>
               <span>159.324</span>
            </div>
         </div>
         <div class="cabinet-statistics__block affiliate-statistics">
            <h2 class="affiliate-statistics__title">My affiliate link</h2>
            <div class="affiliate-statistics__content">
               <div data-copy-block class="affiliate-statistics__link-box">
                  <span data-copy-val class="affiliate-statistics__link">https://bitpetie/sdfsdsdf45645sdfsdsdf45645sdfsdsdf45645</span>
                  <button data-copy-btn type="button" class="affiliate-statistics__copybtn">
                     <i class="_icon-copy"></i>
                     <i class="_icon-copied"></i>
                  </button>
               </div>
               <button data-link="2" type="button" class="affiliate-statistics__dashboard-btn">Partner dashboard</button>
            </div>
         </div>
      </div>
   </div>
</section>
