<footer class="footer">
   <div class="footer__container-m">
      <div class="footer__content">
         <div class="footer__top-line">
            <a href="./index.html" class="footer__logo"><img src='@img/1px.png' data-src="@img/logo.svg" alt="logo" /></a>
            <nav class="footer__menu">
               <button data-goto-top="50" data-goto-header data-goto=".landing-about" type="button" class="footer__menu-item">About</button>
               <button data-goto-top="50" data-goto-header data-goto=".landing-calc" type="button" class="footer__menu-item">Plans</button>
               <button data-goto-top="50" data-goto-header data-goto=".landing-audits" type="button" class="footer__menu-item">
                  Audits
               </button>
               <button data-goto-top="50" data-goto-header data-goto=".landing-features" type="button" class="footer__menu-item">
                  Features
               </button>
               <button data-goto-top="50" data-goto-header data-goto=".landing-referral" type="button" class="footer__menu-item">
                  Referral
               </button>
               <button data-goto-top="50" data-goto-header data-goto=".landing-download" type="button" class="footer__menu-item">
                  Download
               </button>
            </nav>
         </div>
         <div data-showmore data-showmore-media="767" class="footer__mid-line">
            <div data-showmore-content="120" class="footer__mid-line-body">
               <p>
                  By using this website, you understand the information being presented is provided for informational purposes only and
                  agree to our Terms of Use and Privacy Policy. Snowball relies on information from various sources believed to be reliable,
                  including clients and third parties, but cannot guarantee the accuracy and completeness of that information. Investors
                  should determine for themselves whether a particular service or product is suitable for their investment needs. Please
                  refer to the disclosure and offering documents for further information concerning specific products or services. Nothing
                  provided on this site constitutes tax advice. Individuals should seek the advice of their own tax advisor for specific
                  information regarding tax consequences of investments. This site is not a recommendation nor an offer to sell (or
                  solicitation of an offer to buy) securities in the United States or in any other jurisdiction.
               </p>
               <p>
                  All investments entail risk, including the possible loss of investment, and are not suitable for all investors. Past
                  performance is no guarantee of future results. Please see our Cryptocurrency Risk Disclosure for important details and
                  Snowball Crypto User Agreement.
               </p>
            </div>
            <button hidden data-showmore-button type="button" class="footer__mid-line-button">
               <span>Read more</span> <span>Read less</span> <i class="_icon-arrow-left"></i>
            </button>
         </div>
         <div class="footer__bottom-line">
            <p>Copyright © 2023 BullRing, Inc. All rights reserved.</p>
         </div>
         <button data-goto-top="50" data-goto-header data-goto=".landing-about" type="button" class="footer__back-btn _icon-arrow-big"></button>
      </div>
   </div>
</footer>