<section class="landing__section landing-referral">
   <div class="landing-referral__container-m">
      <div class="landing-referral__content">
         <h2 class="landing-referral__title">Referral Program</h2>
         <div class="landing-referral__list">
            <div class="landing-referral__item">
               <img src='@img/1px.png' data-src="@img/landing/referral/medal.svg" alt="medal" />
               <p>Rewards from investments</p>
               <span>5 - 1 %</span>
            </div>
            <div class="landing-referral__item">
               <img src='@img/1px.png' data-src="@img/landing/referral/medal.svg" alt="medal" />
               <p>Rewards from accruals</p>
               <span>3%</span>
            </div>
         </div>
         <div class="landing-referral__stars landing-referral__stars_left">
            <img src='@img/1px.png' data-src="@img/landing/referral/stars-left.svg" alt="starts" />
         </div>
         <div class="landing-referral__stars landing-referral__stars_right">
            <img src='@img/1px.png' data-src="@img/landing/referral/stars-right.png" alt="starts" />
         </div>
         <div class="landing-referral__earth">
            <img src='@img/1px.png' data-src="@img/landing/referral/earth.png" alt="earth" />
         </div>
         <div class="landing-referral__rokets"></div>
      </div>
   </div>
</section>