<section class="landing__section landing-features">
   <div class="landing-features__container-m">
      <h2 class="landing-features__title border-title-text"><span>Features You Will Love </span><span>Features</span></h2>
      <div class="landing-features__content">
         <div class="landing-features__item">
            <img src='@img/1px.png' data-src="@img/landing/features/money.svg" alt="money" />
            <span>Earn crypto</span>
         </div>
         <div class="landing-features__item">
            <img src='@img/1px.png' data-src="@img/landing/features/referral.svg" alt="referral" />
            <span>Referral program</span>
         </div>
         <div class="landing-features__item">
            <img src='@img/1px.png' data-src="@img/landing/features/instant.svg" alt="instant" />
            <span>Instant payments</span>
         </div>
         <div class="landing-features__item">
            <img src='@img/1px.png' data-src="@img/landing/features/safety.svg" alt="safety" />
            <span>Safety</span>
         </div>
         <div class="landing-features__item">
            <img src='@img/1px.png' data-src="@img/landing/features/decentralization.svg" alt="decentralization" />
            <span>Decentralization</span>
         </div>
         <div class="landing-features__item">
            <img src='@img/1px.png' data-src="@img/landing/features/binance.svg" alt="binance" />
            <span>Binance Smart Chain</span>
         </div>
         <div class="landing-features__item">
            <img src='@img/1px.png' data-src="@img/landing/features/social.svg" alt="social" />
            <span>Social networks raffle</span>
         </div>
         <div class="landing-features__item">
            <img src='@img/1px.png' data-src="@img/landing/features/no-limit.svg" alt="no-limit" />
            <span>No limit investments</span>
         </div>
         <div class="landing-features__item">
            <img src='@img/1px.png' data-src="@img/landing/features/security.svg" alt="security" />
            <span>Progressive security </span>
         </div>
      </div>
   </div>
</section>