<div id="comissionsPopup" class="popup comissions-popup">
   <div class="popup__body">
      <div class="popup__wrap">
         <div class="popup__content">
            <h3 class="popup-title">Comissions</h3>
            <p class="popup-text">Up to 15 days - commission <span>30%</span></p>
            <p class="popup-text">15 - 30 days - commission <span>20%</span></p>
            <p class="popup-text">30 - 45 days - commission <span>10%</span></p>
            <p class="popup-text">After 45 days the commission is <span>ZERO</span></p>
         </div>
         <button type="button" class="popup__close-btn _icon-close"></button>
      </div>
   </div>
</div>
