<section class="landing__section landing-audits">
   <div class="landing-audits__container-m">
      <h2 class="landing-audits__title border-title-text"><span>Audits</span><span>Audits</span></h2>
      <div class="landing-audits__content">
         <a href="#" class="landing-audits__link">
            <img src='@img/1px.png' data-src="@img/landing/audits/solid.png" alt="solidProof" />
         </a>
         <a href="#" class="landing-audits__link">
            <img src='@img/1px.png' data-src="@img/landing/audits/stamp.png" alt="stamp" />
         </a>
         <a href="#" class="landing-audits__link">
            <img src='@img/1px.png' data-src="@img/landing/audits/haze.png" alt="haze" />
         </a>
      </div>
   </div>
</section>