<section class="landing__section landing-about">
   <div class="landing-about__container-l">
      <div class="landing-about__content">
         <h1 class="landing-about__title">Make 50 - 100x More Interest Than Your Bank</h1>
         <p class="landing-about__descr">Gain access to high-yield stablecoin vaults and generate interest in real-time via DeFi</p>
         <div class="landing-about__buttons">
            <button type="button" class="landing-about__button button">
               <img src='@img/1px.png' data-src="@img/landing/about-download/discord.svg" alt="discord" />
               <span>Discord chat</span>
            </button>
            <button type="button" class="landing-about__button button">
               <img src='@img/1px.png' data-src="@img/landing/about-download/telegram.svg" alt="telegram" />
               <span>Telegram chat</span>
            </button>
         </div>
         <div class="landing-about__rocket">
            <img src='@img/1px.png' class='landing-about__rocket-bg' data-src="@img/landing/about-download/bg.svg" alt="background" />
            <div class="landing-about__rocket-animation"></div>
         </div>
      </div>
   </div>
</section>