<section class="landing__section landing-download">
   <div class="landing-download__container-m">
      <div class="landing-download__content">
         <h2 class="landing-download__title border-title-text">
            <span>Time to Download Your Trusted Crypto Investment App </span><span>DOWNLOAD</span>
         </h2>
         <div class="landing-download__list">
            <a href="#" class="landing-download__btn button">
               <img src='@img/1px.png' data-src="@img/landing/about-download/discord.svg" alt="discord" /><span>Discord chat</span>
            </a>
            <a href="#" class="landing-download__btn button">
               <img src='@img/1px.png' data-src="@img/landing/about-download/telegram.svg" alt="telegram" /><span>Telegram chat</span>
            </a>
            <a href="#" class="landing-download__btn button"> <img src='@img/1px.png' data-src="@img/twitter.svg" alt="twitter" /><span>Twitter</span> </a>
            <a href="#" class="landing-download__btn button"> <i class="_icon-wallet"></i><span>Connect Wallet</span> </a>
         </div>
      </div>
   </div>
</section>