<div class="compaunding">
   <div class="compaunding__line"><span class="compaunding__progress"></span></div>
   <div class="compaunding__rate">
      <span>0%</span>
      <span>10%</span>
      <span>20%</span>
      <span>30%</span>
      <span>40%</span>
      <span>50%</span>
      <span>60%</span>
      <span>70%</span>
      <span>80%</span>
      <span>90%</span>
      <span>100%</span>
   </div>
   <div class="compaunding__dots">
      <span class="compaunding__dot-box"> <span data-dot-id="0" data-dot-val="0" type="button" class="compaunding__dot"></span></span>
      <span class="compaunding__dot-box"> <span data-dot-id="1" data-dot-val="10" type="button" class="compaunding__dot"></span></span>
      <span class="compaunding__dot-box"> <span data-dot-id="2" data-dot-val="20" type="button" class="compaunding__dot"></span></span>
      <span class="compaunding__dot-box"> <span data-dot-id="3" data-dot-val="30" type="button" class="compaunding__dot"></span></span>
      <span class="compaunding__dot-box"> <span data-dot-id="4" data-dot-val="40" type="button" class="compaunding__dot"></span></span>
      <span class="compaunding__dot-box"> <span data-dot-id="5" data-dot-val="50" type="button" class="compaunding__dot"></span></span>
      <span class="compaunding__dot-box"> <span data-dot-id="6" data-dot-val="60" type="button" class="compaunding__dot"></span></span>
      <span class="compaunding__dot-box"> <span data-dot-id="7" data-dot-val="70" type="button" class="compaunding__dot"></span></span>
      <span class="compaunding__dot-box"> <span data-dot-id="8" data-dot-val="80" type="button" class="compaunding__dot"></span></span>
      <span class="compaunding__dot-box"> <span data-dot-id="9" data-dot-val="90" type="button" class="compaunding__dot"></span></span>
      <span class="compaunding__dot-box"> <span data-dot-id="10" data-dot-val="100" type="button" class="compaunding__dot"></span></span>
   </div>
</div>
