<div class="first-step @@wrapClass">
   <label class="first-step__item @@slideClass">
      <input checked value='1.2'  class="first-step__input" type="radio" name="cabinet-calc" />
      <span class="first-step__style"></span>
      <span class="first-step__range">
         <i class="_icon-busd"></i>
         <span>100-500 BUSD</span>
      </span>
      <span class="first-step__percent">1.2% daily</span>
      <img src='@img/1px.png' src='@img/1px.png' class="first-step__decor-bottom" data-src="@img/cabinet/steps-decor.svg" alt="decor" />
      <img src='@img/1px.png' class="first-step__decor-top" data-src="@img/cabinet/steps-decor-circle.svg" alt="decor" />
      <img src='@img/1px.png' class="first-step__decor-mobile" data-src="@img/cabinet/steps-decor-mob.svg" alt="decor" />
      <span class="first-step__shadow"></span>
   </label>
   <label class="first-step__item @@slideClass">
      <input value='1.3' class="first-step__input" type="radio" name="cabinet-calc" />
      <span class="first-step__style"></span>
      <span class="first-step__range">
         <i class="_icon-busd"></i>
         <span>500-2000 BUSD</span>
      </span>
      <span class="first-step__percent">1.3% daily</span>
      <img src='@img/1px.png' class="first-step__decor-bottom" data-src="@img/cabinet/steps-decor.svg" alt="decor" />
      <img src='@img/1px.png' class="first-step__decor-top" data-src="@img/cabinet/steps-decor-circle.svg" alt="decor" />
      <img src='@img/1px.png' class="first-step__decor-mobile" data-src="@img/cabinet/steps-decor-mob.svg" alt="decor" />
      <span class="first-step__shadow"></span>
   </label>
   <label class="first-step__item @@slideClass">
      <input value='1.4' class="first-step__input" type="radio" name="cabinet-calc" />
      <span class="first-step__style"></span>
      <span class="first-step__range">
         <i class="_icon-busd"></i>
         <span>2000-5000 BUSD</span>
      </span>
      <span class="first-step__percent">1.4% daily</span>
      <img src='@img/1px.png' class="first-step__decor-bottom" data-src="@img/cabinet/steps-decor.svg" alt="decor" />
      <img src='@img/1px.png' class="first-step__decor-top" data-src="@img/cabinet/steps-decor-circle.svg" alt="decor" />
      <img src='@img/1px.png' class="first-step__decor-mobile" data-src="@img/cabinet/steps-decor-mob.svg" alt="decor" />
      <span class="first-step__shadow"></span>
   </label>
   <label class="first-step__item @@slideClass">
      <input value='1.5' class="first-step__input" type="radio" name="cabinet-calc" />
      <span class="first-step__style"></span>
      <span class="first-step__range">
         <i class="_icon-busd"></i>
         <span>5000-20000 BUSD</span>
      </span>
      <span class="first-step__percent">1.5% daily</span>
      <img src='@img/1px.png' class="first-step__decor-bottom" data-src="@img/cabinet/steps-decor.svg" alt="decor" />
      <img src='@img/1px.png' class="first-step__decor-top" data-src="@img/cabinet/steps-decor-circle.svg" alt="decor" />
      <img src='@img/1px.png' class="first-step__decor-mobile" data-src="@img/cabinet/steps-decor-mob.svg" alt="decor" />
      <span class="first-step__shadow"></span>
   </label>
</div>