<div class="income @@wrapClass">
   <div class="income__content">
      <div class="income__img-pc"></div>
      <div class="income__img-mob"></div>
      <div class="income__list">
         <div class="income__item">
            <span class="income__val"></span>
         </div>
         <div class="income__item">
            <span class="income__val"></span>
         </div>
         <div class="income__item">
            <span class="income__val"></span>
         </div>
         <div class="income__item">
            <span class="income__val"></span>
         </div>
         <div class="income__item">
            <span class="income__val"></span>
         </div>
         <div class="income__item">
            <span class="income__val"></span>
         </div>
         <div class="income__item">
            <span class="income__val"></span>
         </div>
         <div class="income__item">
            <span class="income__val"></span>
         </div>
         <div class="income__item">
            <span class="income__val"></span>
         </div>
         <div class="income__item">
            <span class="income__val"></span>
         </div>
         <div class="income__item">
            <span class="income__val"></span>
         </div>
         <div class="income__item">
            <span class="income__val"></span>
         </div>
      </div>
   </div>
</div>