<div class="languages">
   <button type="button" class="languages__head">
      <img src='@img/1px.png' data-src="@img/web.svg" alt="languages" />
   </button>
   <div class="languages__body">
      <button type="button" class="languages__item _active">Language</button>
      <button type="button" class="languages__item">Language</button>
      <button type="button" class="languages__item">Language</button>
      <button type="button" class="languages__item">Language</button>
      <button type="button" class="languages__item">Language</button>
   </div>
</div>