<div class="social-links">
   <a href="#" class="social-links__item">
      <img src='@img/1px.png' data-src="@img/telegram-chat.svg" alt="telegram-chat" />
   </a>
   <a href="#" class="social-links__item">
      <img src='@img/1px.png' data-src="@img/telegram-channel.svg" alt="telegram-channel" />
   </a>
   <a href="#" class="social-links__item">
      <img src='@img/1px.png' data-src="@img/twitter.svg" alt="twitter" />
   </a>
   <a href="#" class="social-links__item">
      <img src='@img/1px.png' data-src="@img/discord.svg" alt="discord" />
   </a>
</div>