.landing {
   background: url('@img/landing/bg.jpg') 0 0 / cover no-repeat;
   &__section {
      margin-bottom: 80px;
      @media (max-width: 991.98px) {
         margin-bottom: 40px;
      }
   }
}
